<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head-menu">
    <title>Жанры</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <a th:href="@{/genre/edit(id=0,isCreate=true)}" class="btn btn-primary">
                        <span>
                            <img th:src="@{img/plus-thick.png}"/>
                        </span>
                        Создать
                    </a>
                </div>
                <div class="card-body">
                    <table id="genres" class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Наименование</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="genre : ${genres}" th:object="${genre}">
                            <td>
                                <a href="edit.html" th:href="@{/genre/view(id=*{id})}" th:text="*{id}"></a>
                            </td>
                            <td th:text="*{title}">Жанр 1</td>
                            <td>
                                <a th:href="@{/genre/edit(id=*{id})}" class="btn btn-outline-light text-dark">
                                    <span>
                                        <img th:src="@{img/pencil.png}"/>
                                    </span>
                                    Изменить
                                </a>
                                <button type="button" class="btn btn-outline-danger text-dark" data-toggle="modal"
                                        th:attr="data-target='#recordDeleteModal'+${genre.id}">
                                    <span>
                                        <img th:src="@{img/delete.png}"/>
                                    </span>
                                    Удалить
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" th:attr="id='recordDeleteModal'+${genre.id}" tabindex="-1"
                                     role="dialog" aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="recordDeleteModalLabel">Удаление записи</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Вы действительно хотите удалить запись?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Нет
                                                </button>
                                                <a href="list.html" class="btn btn-primary"
                                                   th:attr="href='/genre/delete?id=' + ${genre.id}">Да</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal end -->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

