<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head-menu">
    <title>Главная страница</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-lg-12 text-lg-center">
                        <h2 th:text="#{message.hello}"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>